body, html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 10px;
    background: url('../img/1502048-beautiful-cool-background-images-1920x1080-hd-1080p.jpg') bottom center;
    background-size: cover;    
}

.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .1s ease ;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}    

.playing {
    transform: scale(1.1);
    border-color: #272bff;
    box-shadow: 0 0 1rem #272bff;
}

kbd{
    display: block;
    font-size: 4rem;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #272bff;
}